#obelometer {
    background-color: white;
}

.obelometer-display{
  margin-top: 300px;
}

.temp-display{
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 10em;
}

.deg-display{
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 10em;
}


.time-display{
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 2em;
}
