extends layout

block content
	div(class="col-md-2")
	div(class="col-md-4")
		canvas(id="obelometer",width="500",height="700")

	div(class="col-md-6")
		div(class="obelometer-display")
			span(id="temp-display",class="temp-display").
				0.0
			span(id="deg-display",class="deg-display").
				&deg;
			br
			span(id="time-display",class="time-display")
		div(class="historymeter-display")
			canvas(id="historymeter",width="500",height="500")

	script(src='/scripts/obelisk.js')
	script(src='/scripts/obelometer.js')
	script(src='/scripts/pluskwa.js')
	script(type='text/javascript').
		var pluskwa = new Pluskwa();
