doctype html
html
	head
		block head
			block title
				title pluskwa
			block meta
				meta(name='description', content='123k.pl temperature service')
				meta(name='keywords', content='123k.pl, temperature')
			link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
			link(rel='stylesheet', href='/stylesheets/pluskwa.css')
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
			script(src='//cdn.socket.io/socket.io-1.0.4.js')
			script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
	body
	include header
	div(class="container-fluid")
		div(class="content")
			block content

	include footer
